main {
    width: 100%;
    margin: 32px 0;
    padding: 0 10%;

    min-height: 70vh;

    display: flex;
    flex-wrap: wrap;

    section{
        flex: 1 0 40%;
        margin: 0 32px;

        max-height: 70vh;
    }

    h3{
        font-family: "Montserrat", sans-serif;
        font-size: 1.5rem;
        text-align: center;

        margin: 16px 0;
        padding: 0 0 8px;

        border-bottom: 1px solid #999;
    }

    section#input-section{
        display: flex;
        flex-direction: column;

        div.input-area{
            width: 100%;
            height: 100%;
            
            display: flex;
            flex-direction: column;
        }

        textarea{
            min-height: 50vh;
            height: 100%;
            padding: 24px 32px;
            resize: none;

            font-family: "Fira Mono", monospace;
            font-size: 1.2rem;

            border-radius: 1rem 1rem 0 0;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }

        button{
            padding: 0.7rem;
            border: 2px #d7385e solid;

            background-color: #d7385e;

            color: white;
            font-family: "Montserrat", sans-serif;
            font-size: 1.2rem;

            border-radius: 0 0 1rem 1rem;

            cursor: pointer;
            transition: ease-in-out all 250ms;

            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

            &:hover{
                background-color: crimson;
                color: white;
            }

            &:active{
                font-size: 0.9rem;
            }
        }
    }

    section#result-section{
        display: flex;
        flex-direction: column;

        
        div.result-area{
            width: 100%;
            height: 100%;
            
            padding: 32px;

            background-color: white;
            
            display: flex;
            flex-wrap: wrap;

            overflow: auto;
            
            justify-content: space-between;
            align-content: flex-start;

            border-radius: 1rem;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }

        span{
            flex: 1 0 25%;

            margin: 8px;
            padding: 10px 16px;

            color: #fff;
            font-family: "Roboto", sans-serif;
            font-size: 1rem;
            text-align: center;

            border-radius: 5px;
        }
    }
}